/* main carousel */

.carousel {
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    /* background: red; */
    height: 100%;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* carousel button */

.carousel_button {
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.39);
    ;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.carousel_button span {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.carousel_button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.btnLeft {
    left: -40px;
}

.btnRight {
    right: -40px;
}

/* carousel bottom icon */

.carousel_nav {
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0, 0.3);
    margin: 0 12px;
}

.carousel_indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}