/* import font */

@font-face {
    font-family: 'DINPro';
    font-style: normal;
    src: url(../fonts/DINPro-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'DINPro';
    font-weight: bold;
    src: url(../fonts/DINPro-Bold.otf) format('truetype');
}

/* general style */

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: DINPro, Linearicons-Free;
}

.container {
    width: 100%;
    height: 100%;
}

.container>section {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

hr {
    background-color: rgba(128, 128, 128, 0.63);
    width: 90%;
    left: 2.5%;
}

html {
    scroll-behavior: smooth;
}

/* section-title */

#section-title {
    text-align: center;
}

.link-more {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.link-more::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    cursor: pointer;
}

.link-more:hover::after {
    width: 100%;
}

.link-title {
    cursor: pointer;
}

.link-title:hover {
    text-decoration-line: underline;
    text-decoration-color: rgba(128, 128, 128, 0.349);
}

/* section Artists */

/* section bottom */

.otherUl ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.otherUl li {
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    height: 100%;
}

.otherUl li img {
    opacity: 0.5;
    width: 24px;
    height: 24px;
    margin-top: 18px;
    margin-right: 12px;
}

/* section footer */

ul.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 69, 69);
}

ul.footer-ul li {
    float: left;
}

ul.footer-ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}